#notfound{
  height: 95vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .not-found-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
  }
  a{
    font-size: 24px;
    
    padding: 0.5rem 1rem;
    background: #00a9e1;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  text-align: center;
}